# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Environment & temporary files
.env
*.log

# Operating System Files
.DS_Store
Thumbs.db
desktop.ini

# Office temporary files
~$*.pptx
~$*.docx
~$*.xlsx
